<div class="card text-center" style="background-color: beige;">
  <div class="card-body">
    <h5 class="card-title">Rahul's Kitchen</h5>
    <p class="card-text">The Tastiest Food At Your Doorstep in Minutes</p>
  </div>
</div>

<div class="container-fluid">
  <div *ngIf="!displayMenuComp; else menuComp" class="row justify-content-md-center">
    <div *ngFor="let restaurant of restaurants" class="col">
      <app-restaurant-card [data]="restaurant" (enterHome)="displayMenu($event)"></app-restaurant-card>
    </div>
  </div>

  <ng-template #menuComp>
    <app-restaurant-homepage [menu]="menu" (goback)="backToHomePage()"></app-restaurant-homepage>
  </ng-template>
</div>